<ion-slide-box style="margin-left:auto; margin-right:auto; margin-top:15px;height:16vh; max-width: 800px;" slide-interval="6000" auto-play="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
   <ion-slide>
     <p class="slide-text">life is meaningless, this app make it more meaningless. </p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">这个世界已经够乱了 我们一起努力让它变得更乱一些</p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">每个人都能成为演员 你需要一个替身 </p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">man want to be woman, woman want to be man. child want to be adult, adult want to be child. whatever! </p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">change photos with people from other countries, then use them in your country's local social networks. </p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">you can only use the photos you changed in your country's local social networks</p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">换出去的照片 泼出去的水 think twice before change</p>
   </ion-slide>
</ion-slide-box>
<!-- <ion-slide>
  <p class="slide-text">permission from your partner is needed if you want to use them on international social networks such as facebook instagram twitter.</p>
</ion-slide> -->
