<ion-slide-box style=" margin-left:auto; margin-right:auto; margin-top:10px;height:20vh; max-width: 800px;" slide-interval="6000" auto-play="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
   <ion-slide>
     <p align="center">man want to be woman, woman want to be man. child want to be adult, adult want to be child. whatever! </p>
   </ion-slide>
   <ion-slide>
     <p align="center">change photos with people from other countries, then use them in your country's local social networks. </p>
   </ion-slide>
   <ion-slide>
     <p align="center">you can only use the photos you changed in your countries' local social networks</p>
   </ion-slide>
   <ion-slide>
     <p align="center">permission from your partner is needed if you want to use them on international social network such as facebook instagram twitter.</p>
   </ion-slide>
   <ion-slide>
     <p align="center">换出去的照片，泼出去的水。think twice before change. enjoy your another life.</p>
   </ion-slide>
</ion-slide-box>
