<ion-view view-title="">
    <ion-content style="">
        <div class="ui three column grid" style="margin-left:auto;margin-right:auto;max-width:800px;">
            <div ng-repeat="p in photos " ng-class="{'column': true}" style="padding:0px;">
                <div style="position:relative;width: 100%; height: 0; padding-top: 100%; background-color:LightCyan; background-image: url({{p.url+'?imageView/1/w/300/h/300'}});background-size: cover;background-position: center center;">
                    <p style="position:absolute; bottom:0px; color:black;">{{p.user.nationality}} {{p.user.name}}</p>
                </div>
            </div>
        </div>
        <span data-ng-show="expression"="dataLength != limit" class="badge badge-energized">can't find anything!</span>
        <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()" distance="20%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
