<ion-view view-title="{{user.name}}">
  <ion-content>
    <div ng-include="'templates/_avatar.html'" ></div>
    <div class="" style="margin-left:auto; margin-right:auto; width:60vw;">
      <div ng-hide="isCurrentUser">
        <a ng-show="!s_asker_q && !partner_q && !s_target_q" ng-click="ask()" class="button button-assertive button-block">ask</a>
        <h5 ng-show="s_asker_q" > wait for {{user.name}}'s answer </h5>
        <h5 ng-show="s_target_q" >is asking you</h5>
        <h5 ng-show="partner_q" >is your partner</h5>
      </div>
      <div class="" ng-show="isCurrentUser">
        <h5>your album here</h5>
      </div>
    </div>
    <div class="padding">
      swipe to see more
      <i class="icon ion-chevron-right icon-accessory"></i>
    </div>
    <div ng-include="'templates/_scroll_album.html'" ></div>
    <!-- <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll> -->
  </ion-content>
</ion-view>
