$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
.infobox {
	background: blue;
    width: 200px;
    .message {
        border: 1px solid red;
        > .title {color: red;}
    }
}

